{#
/**
 * @file
 * Drulma theme implementation for page titles.
 */
#}
{{ title_prefix }}
{% if title|render %}
  <div class="container">
    <section class="section m-5">
      <h1 class="is-size-1 is-italic is-uppercase has-text-primary">{{ title }}</h1>
    </section>
  </div>
{% endif %}
{{ title_suffix }}
