{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div class="content has-text-centered">
    <a href="https://www.facebook.com/SASbasket/?ref=br_rs">
      <span class="icon is-large has-text-info">
        <i class="fab fa-facebook fa-2x"></i>
      </span>
    </a>
    <a href="mailto:basket.saint-avertin-sports.fr">
      <span class="icon is-large has-text-info">
        <i class="fas fa-envelope fa-2x"></i>
      </span>
    </a>
    <a href="https://www.facebook.com/SASbasket/?ref=br_rs">
      <span class="icon is-large has-text-info">
        <i class="fas fa-basketball-ball fa-2x"></i>
      </span>
    </a>
    {{ content }}
  </div>
{% endif %}
