<div class="office-hours">
  {% for office_hour in office_hours %}
    {% if office_hour.closed is null %}
      {% for slot in office_hour.slots %}
        <div class="office-hours__item">
          <span class="office-hours__item-label notification is-uppercase is-info">{{ office_hour.weekday_name }}</span>
            <span class="office-hours__item-slots notification">{{ slot.formatted_slot }}</span>
          <span>{{ item_separator | raw }}</span>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
