<div class="container">
    {% for gymnase in creneaux %}
        <section class="section">
            <h2 class="is-size-2 is-italic is-uppercase has-text-primary">{{ gymnase.name }}</h2>
            <div class="block">
                <div class="box table-container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><span class=" is-uppercase" title="Lundi">Lundi</span></th>
                            <th><span class=" is-uppercase" title="Mardi">Mardi</span></th>
                            <th><span class=" is-uppercase" title="Mercredi">Mercredi</span></th>
                            <th><span class=" is-uppercase" title="Jeudi">Jeudi</span></th>
                            <th><span class=" is-uppercase" title="Vendredi">Vendredi</span></th>
                            <th><span class=" is-uppercase" title="Samedi">Samedi</span></th>
                            <th><span class=" is-uppercase" title="Dimanche">Dimanche</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for day in gymnase.creneaux %}
                                <td>
                                    {% for creneau in day %}
                                        <div class="notification is-primary m-1 p-1">
                                            <p class="is-5 is-italic is-uppercase has-text-gold">{{ creneau.name }}</p>
                                            <p class="has-text-white">{{ creneau.start }} - {{ creneau.end }}</p>
                                        </div>
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    {% endfor %}
</div>

