{{ attach_library('lp_fontawesome/fontawesome') }}
<div class="control has-icons-left">
  <input{{ attributes.removeClass('form-submit') }} />{{ children }}
  <span class="icon is-left">
    <i class="fas fa-plus"></i>
  </span>
</div>
